{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netcoins</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
      <div class="hide-on-med-and-down navbar-fixed" id="nava">
    <nav class="main-color transparent">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Netcoins</a>
          <ul class="right">
            <li><a class="modal-trigger active" href="#">Profile</a></li>
            <li><a class="modal-trigger" href="#">Parainage</a></li>
            <li><a class="modal-trigger" href="#">Finance</a></li>
            <li><a class="modal-trigger" href="#">Réseau Social</a></li>
            <li><a class="modal-trigger" href="#">Outil</a></li>
            <li><a class="modal-trigger" href="#">Généaologie</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
              <div class="background">
                <img src="{% static 'resources/images/office.jpeg' %}">
              </div>
              <a href="#user"><img class="circle" src="{% static 'resources/images/person.jpeg' %}"></a>
              <a href="#name"><span class="white-text name">Pseudonyme</span></a>
            </div></li>
            <li><a class="modal-trigger active" href="#">Profile</a></li>
            <li><a class="modal-trigger" href="#">Parainage</a></li>
            <li><a class="modal-trigger" href="#">Finance</a></li>
            <li><a class="modal-trigger" href="#">Réseau Social</a></li>
            <li><a class="modal-trigger" href="#">Outil</a></li>
            <li><a class="modal-trigger" href="#">Généaologie</a></li>


        </ul>
          <a href="#" data-target="slide-out" class="hide-on-large-only sidenav-trigger"><i class="my-icon material-icons">menu</i></a>
            


    <div class="container">


<!--========================            CONTENU DU PROFILE      ==========================================-->
<div id="total-profile">
        <div id="bg-khder">
    <div class="row topbar">
                
            <div class="col l3 m3 s12">
                    <img src="{% static 'resources/images/person.jpeg'  %}" class="responsive-img profile-image" style="max-height: 100%;max-width: 100%;">
                    </div>
                    <div class="col l9 m9 s12">
                    <ul class="left">          
      <li id="whity">{{utilisateur.prenom}}</li>
      <li id="whity">{{utilisateur.nom}}</li>
      <li id="whity">Lien de parainage : <a>https://netcoins/{{utilisateur.pseudo}}/parainage</a></li></ul>
      <ul class="right">
<li><div style="color:white;">Solde :</div> <div style="color:blue">{{utilisateur.walletDevise}}$</div></li>
</ul>
  </ul>
</div></div></div>
    
    <div class="row" id="down-profile">
            <a class="waves-effect waves-light btn" id="modifier">Modifier</a><br/>
        <div class="col s12 l12 m12">
        <form action="#">      
                    <div class="row">
                      <div class="input-field col s12">
                          <i class = "material-icons prefix">email</i>
                          <input type="text"  readonly="readonly" value="{{utilisateur.emai}}" id="email" class="autocomplete">
                          <label for="email">Email</label>
                        </div> 
                  </div>
      
      
                      <div class="input-field col s12">
                          <select disabled >
                            <option value="1" selected>Algérie</option>
                            <option value="2">France</option>
                            <option value="3">Belgique</option>
                          </select>
                          <label>Pays</label>
                        </div>
                      
                        <div class="input-field col s12">
                            <i class = "material-icons prefix">phone</i>
                            <input type="text" id="phone"  readonly="readonly" value="{{utilisateur.telephone}}" class="autocomplete">
                            <label for="phone">Téléphone</label>
                          </div>   
                    <div class="row">
                      <div class="input-field col s6">
                          <i class = "material-icons prefix">home</i>
                          <input type="text" id="adresse"  readonly="readonly" value="{{utilisateur.adresse}}" class="autocomplete">
                          <label for="adresse">Adresse</label>
                        </div>   
      
                        <div class="input-field col s6">
                            <input type="text"  readonly="readonly" value="{{utilisateur.complement_adresse}}" id="complement-adresse" class="autocomplete">
                            <label for="complement-adresse">Complément d'adresse</label>
                          </div>   
                        </div>
      
                        <div class="input-field col s12">
                            <input type="text" id="code-postal"  readonly="readonly" value="{{utilisateur.postal}}" class="autocomplete">
                            <label for="code-postal">Code Postal</label>
                          </div>   
      <div class="row">
                      <div class="input-field col s6">
                          <i class = "material-icons prefix">account_circle</i>
                              <input type="text" id="pseudonyme"  readonly="readonly" value="{{pseudo}}" class="autocomplete">
                              <label for="pseudonyme">Pseudonyme</label>
                            </div>   
                            <div class="input-field col s6">
                                <input type="text"  readonly="readonly" value="Parrain" id="pseudonyme-parrain" class="autocomplete" value="{{utilisateur.parrain}}">
                                <label for="pseudonyme-parrain">Pseudonyme du Parrain</label>
                              </div>
                            </div>   
                            <div class="row">
                              <div class="input-field col s12">
                                  <i class = "material-icons prefix">vpn_key
                                    </i>
                                  <input type="password" id="mdp" class="autocomplete"  readonly="readonly" value="{{utilisateur.mdp}}">
                                  <label for="mdp">Mot de passe</label>
                                </div>   
                                </div>
                      
          
      <div class="center-align">
          <button class="btn waves-effect waves-light main-color " type="submit" name="action" id="sauvegarder">
                  <i class="material-icons center ">SAUVEGARDER</i>
                </button>
              </div>
              </form>
</div></div>
</div>







</div>



<!--=============================================     FOOTER  ================================================================-->
        </div>
<footer class="page-footer transparent">
        <div class="container center-align">
              © Netcoins 2018
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </footer>

</body>
</html>