.trans{
    background-color: #4267b2;
}
body{
    margin:0;
background-color:#E0E0E0;
font-family: 'Oswald', sans-serif;
background-repeat:no-repeat;
background-size:100% 100%;
}
html{
    min-height: 100%;
    min-width: 100%;
}
#whity{color:white;}
#main-presentation
{
    padding:20px;
    border-radius: 50px 50px;
    opacity: 0.7;
    background-color: white;
}
.button-menu{
    border-radius: 4px 4px;
    min-height: 30px;
    min-width: 30px;
    padding:1%;
    margin:10px;
    background-color:#4267b2;
}
#nava{
    z-index: 3;
}
#down-profile{
    padding:30px;
}
#total-profile{
    color:black;
    margin-top: 50px;
    padding:0px;
    background-color:white;
}
#prez
{
    color:white;
}
.trans{
    opacity:1;
}
.main-color{
    background-color:#4267b2;
}
.main-fontcolor{
    color:#4267b2;
}
.no-padding{padding:0px !important}
.margin-top{margin-top: 20px !important}
label{overflow:hidden;}
#sauvegarder{display:none;}
#bg-khder{height:-100%;background-color:#12474f;}
.my-icon{color:white;}
.profile-image{border-radius:50%;}
.modal{padding:20px;}

#overlay {
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 50;
	cursor: pointer;
}
.msg {
	position: absolute;
	z-index: 60;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 250px;
}
.msg p {
	font-size: 22px;
	font-weight: bold;
}
.msg_inner {
	position: relative;
	top: -30%;
	left: -50%;
	border-radius: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 0 0 22px rgba(0,0,0,0.5);
	padding: 29px;
	box-sizing: border-box;
	text-align: center;
	cursor: default;
}
.success_inner {
    border: 1px solid #00bfa5;
    background: #00bfa5;
}
.fail_inner {
	border: 1px solid #893E3E;
    background: #ff8a80;
}
.success_inner * {
	opacity: 1;
}
