{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netcoins</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script src="{% static 'js/intlTelInput.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    

    <script src="https://code.jquery.com/jquery-2.2.4.min.jss"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

      <div class="hide-on-med-and-down navbar-fixed" id="nava">
    <nav class="main-color trans">
        <div class="nav-wrapper" style="padding-right:18%;padding-left:18%;">
          <a href="#" class="brand-logo">Netcoins</a>
          <ul class="right">
              <li><a class="modal-trigger" href="#inscription">Inscription</a></li>
            <li><a class="modal-trigger" href="#connexion">Connexion</a></li>
          </ul>
        </div>
      </nav>
    </div>



    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="{% static 'resources/images/office.jpeg' %}">
          </div>
          <a href="#user"><img class="circle" src="{% static 'resources/images/person.jpeg' %}"></a>
          <a href="#name"><span class="white-text name">Deconnecté</span></a>
        </div></li>
        <li><a class="modal-trigger " href="#connexion">Connexion</a></li>
        <li><a class="modal-trigger" href="#inscription">Inscription</a></li>

    </ul>
      <a href="#" data-target="slide-out" class="hide-on-large-only sidenav-trigger center-align valign-wrapper" ><i class="button-menu  my-icon material-icons">list</i></a>
        

      <div class="container">
          <div class="row">        
    
  
 <!--==============================    CONTENU PRINCIPAL     ==============================================-->

 <div class="col m8 l8 s12" id="prez">
<p>
  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Pharetra convallis posuere morbi leo urna molestie at elementum. Arcu risus quis varius quam quisque id diam vel quam. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Ligula ullamcorper malesuada proin libero. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Nunc non blandit massa enim nec dui. A cras semper auctor neque. Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Lectus vestibulum mattis ullamcorper velit sed. Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. In ante metus dictum at tempor commodo ullamcorper a. Facilisis magna etiam tempor orci eu. Iaculis nunc sed augue lacus. Cras tincidunt lobortis feugiat vivamus at augue eget. In massa tempor nec feugiat nisl pretium fusce.

    Nulla posuere sollicitudin aliquam ultrices. Ut pharetra sit amet aliquam id diam. Ultricies lacus sed turpis tincidunt id aliquet risus. Nibh tellus molestie nunc non blandit massa enim. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Libero id faucibus nisl tincidunt eget nullam non. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Proin nibh nisl condimentum id venenatis. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Diam donec adipiscing tristique risus nec. Nunc mi ipsum faucibus vitae. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Feugiat vivamus at augue eget arcu dictum varius duis at. Aliquet enim tortor at auctor urna nunc id cursus. Vestibulum rhoncus est pellentesque elit ullamcorper.

</p>

 </div>
        <div class="col m4 l4 s12">
<img src="{% static 'resources/icons/elementary.png' %}" style="width:100%;height: 100%;">
        </div>  
        
        </div>
    </div>


<!--========================         CONNEXION POPUP   ====================================-->


    <div id="connexion" class="modal">
  <h2 class="center-align">Connexion</h2>
      <form action="#">
      <div class="modal-content">
          <div class="input-field col l12 m12 s12">
              <i class = "material-icons prefix">account_circle</i>
              <input type="text" id="pseudonyme" class="autocomplete">
              <label for="pseudonyme">Pseudonyme</label>
            </div>   
            <div class="input-field col s12 l12 m12">
                <i class = "material-icons prefix">vpn_key</i>
                <input type="password" id="mdp_connexion" class="autocomplete">
                <label for="mdp_connexion">Mot de passe</label>
              </div>   
        </div>
        <div class="modal-footer center-align">
          <a href="#oublie" class="modal-trigger main-fontcolor">Mot de passe oublié ?</a>
          <a class="modal-trigger main-fontcolor" href="#inscription">Pas encore inscrit ?</a>
          <button class="btn waves-effect waves-light main-color" type="submit" name="action"><i class="material-icons center">CONNEXION</i></button>
        </div>
      </form>
      </div>
<!--=======================================  INSCRIPTION POPUP   ===============================================-->
<div id="inscription" class="modal">

    <div class="col m6 l6 s12" id="main-presentation">
        <h3 class="center-align"> Inscription </h3>

        <div class="card-panel white red-text red-lighten-2" id="problematic" style="display:none;"></div>

        <form action="{% url 'home' %}" method="POST" id="form-inscription">
            {% csrf_token %}

          <div class="row">
            <div class="input-field col s6">
                <i class = "material-icons prefix">account_circle</i>
                <input type="text" id="nom" name="nom" class="autocomplete" required maxlength="100">
                <label for="nom">Nom</label>
              </div>   
              <div class="input-field col s6">
                  <input type="text" id="prenom" name="prenom" class="autocomplete" required maxlength="100">
                  <label for="prenom">Prénom</label>
                </div>   
              </div>

              <div class="row">
                <div class="input-field col s6">
                    <i class = "material-icons prefix">email</i>
                    <input type="email" id="email-inscription" name="email" class="autocomplete" required>
                    <label for="email-inscription">Email</label>
                  </div>   

                  <div class="input-field col s6">
                      <input type="email" id="email-confirm" required class="autocomplete">
                      <label for="email-confirm">Confirmer email</label>
                    </div>   
            </div>


                <div class="input-field col s12">
                    <select id="pays" name="pays" > 
                      <option value="" disabled selected>Choisissez votre pays</option>
                      <option value="Algérie">Algérie</option>
                      <option value="France">France</option>
                      <option value="Belgique">Belgique</option>
                      <option value="Afghanistan">Afghanistan</option>
                    </select>
                    <label>Pays</label>
                  </div>
                <div class="row">
                  
                  <div class="input-field col s6">
                    <label for="phone" class="active" >N° de téléphone</label>
                      
                    <input type="tel" id="phone" name="telephone" class="autocomplete col" required>

                    </div>
                    </div>   
                                       <script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input);



$('#problematic').bind("DOMSubtreeModified",function(){
  if($(this).text()===''){
    $(this).hide();}
    else{$(this).show();}
});


 $("#form-inscription").submit(function(){
if($("#problematic").text()!==""){
  $("#inscription").scrollTop(0);
  return false;
}
else{return true;}
 });
</script>  
                  
              <div class="row">
                <div class="input-field col s6">
                    <i class = "material-icons prefix">home</i>
                    <input type="text" id="adresse" name="adresse" class="autocomplete" required maxlength="100">
                    <label for="adresse">Adresse</label>
                  </div>   
 
                  <div class="input-field col s6">
                      <input type="text" id="complement-adresse" name="complement_adresse" class="autocomplete">
                      <label for="complement-adresse">Complément d'adresse (optionnel)</label>
                    </div>   
                  </div>

                  <div class="input-field col s12">
                      <input type="number" id="postal" name="postal" class="autocomplete" required>
                      <label for="postal">Code Postal</label>
                    </div>   
<div class="row">
                <div class="input-field col s6">
                    <i class = "material-icons prefix">account_circle</i>
                        <input type="text" id="pseudo-inscription" name="pseudo" class="autocomplete">
                        <label for="pseudo-inscription">Pseudonyme</label>
                      </div>   
                      <div class="input-field col s6">
                          <input type="text" id="parrain" name="parrain" class="autocomplete" maxlength="100" >
                          <label for="parrain">Pseudonyme du Parrain</label>
                        </div>
                      </div>   
<div class="row">
                        <div class="input-field col s6">
                            <i class = "material-icons prefix">vpn_key
                              </i>
                            <input type="password" id="mdp" name="mdp" class="autocomplete" maxlength="100" required>
                            <label for="mdp">Mot de passe</label>
                          </div>   
                          <div class="input-field col s6">
                              <input type="password" id="mdp_confirmation" class="autocomplete" maxlength="100" required>
                              <label for="mdp_confirmation">Confirmer mot de passe</label>
                            </div>   
                          </div>
                          <div class="row">                            
                            <div class="col s12"><div class="g-recaptcha" data-sitekey="6LcUS3MUAAAAAM9qWVGzUAMIXxIBEhhCplMZ-oOL"></div></div>

                          </div>
                          

                <div class="input-field col s12">
                        <label>
    <input type="checkbox" required/>
    <span>J'accepte les conditions d'utilisation.</span>
</label>
    </p>
    </div>
<div class="center-align">
    <button class="btn waves-effect waves-light main-color " type="submit" name="action">
            <i class="material-icons center ">S'INSCRIRE</i>
          </button>
        </div>
      
        </form>
<br>
    
</div>

</div>

<script>
    $("#pseudo-inscription").change(function () {
      var username = $(this).val();
  
      $.ajax({
        url: '/ajax/validate_username/'+username,
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            $(this).addClass('error');$(this).removeClass('success');
          $("#problematic").append("<div id='pseudo-utilise'>Pseudonyme déja utilisé</div>");
          }
          else{
            $(this).addClass('success');$(this).removeClass('error');
            $("#pseudo-utilise").remove();
          }
        }
      });
  
    });
  
  $("#parrain").change(function(){
    var username=$(this).val();
    $.ajax({
      url:'/ajax/validate_username/'+username,
      data:{
        'username':username
      },
      dataType:'json',
      success:function(data){
        if(!(data.is_taken)){$(this).addClass('error');$(this).removeClass('success');$("#problematic").append("<div id='parain-inexistant'>Le parrain n'existe pas.</div>");}
      else{$(this).addClass('success');$(this).removeClass('error');$("#parrain-inexistant").remove();}
      }
    })
  });

  $("#email-inscription").change(function(){
    var username=$(this).val();
    $.ajax({
      url:'/ajax/validate_email/'+username,
      data:{
        'email':username
      },
      dataType:'json',
      success:function(data){
        if(data.is_taken){$(this).addClass('error');$(this).removeClass('success');$("#problematic").append("<div id='email-utilise'>Cet email est déja utilisé.</div>")}
      else{$(this).addClass('success');$(this).removeClass('error');$("#email-utilise").remove();}
      }
    })
  });
  $("#telephone").change(function(){
    var username=$(this).val();
    $.ajax({
      url:'/ajax/validate_telephone/'+username,
      data:{
        'email':username
      },
      dataType:'json',
      success:function(data){
        if(data.is_taken){$("#problematic").append("<div id='telephone-utilise'>Ce téléphone est déja utilisé.</div>");$(this).addClass('error');$(this).removeClass('success');}
      else{$(this).addClass('success');$(this).removeClass('error');$("#telephone-utilise").remove();}
      }
    })
  });


  $("#mdp_confirmation").change(function(){
    var conf=$("#mdp_confirmation").val();
    var mdp=$("#mdp").val();
    if(conf!==mdp){$("#problematic").append("<div id='mdp-differents'>Les deux mot de passe sont différents.</div>");$(this).addClass('error');$(this).removeClass('success');}
    else{$(this).addClass('success');$(this).removeClass('error');$("#mdp-diffents").remove();}
  });

  $("#email-confirmation").change(function(){
    var conf=$(this).val();
    var mdp=$("#email-inscription").val();
    if(conf!==mdp){$("#problematic").append("<div id='email-diffents'>Les deux emails sont différents !</div>");$(this).addClass('error');$(this).removeClass('success');}
    else{$("#email-differents").remove();$(this).addClass('success');$(this).removeClass('error');}
  });
</script>

<!--======================================    MOT DE PASSE OUBLIE    =============================================-->


<div id="oublie" class="modal">
  <h2 class="center-align">Mot de passe oublié</h2>
      <form action="#">
      <div class="modal-content">
          <div class="input-field col l12 m12 s12">
              <i class = "material-icons prefix">email</i>
              <input type="text" id="email-forgot" class="autocomplete">
              <label for="email-forgot">Email</label>
            </div>   
        </div>
          <div class="center-align"><button class="btn waves-effect waves-light main-color" type="submit" name="action">Envoyer</button></div>
      </form>
      </div>


<!--========================================= INSCRIPTION REUSSIE  ==============================================-->

{% if success %}
<div id="overlay">
  <div class="msg success">
  <div class="msg_inner success_inner">
  {{message}}
  </div>
     </div>
  </div>

<script>window.onload = function (){saske=document.getElementById("overlay");
  setTimeout(function(){ saske.style.display="none";}, 5000);};</script>
{% endif %}

{% if problem %}
<div id="overlay">
    <div class="msg success">
    <div class="msg_inner fail_inner">
    {{message}}
    </div>
       </div>
    </div>
  
  <script>window.onload = function (){saske=document.getElementById("overlay");
    setTimeout(function(){ saske.style.display="none";}, 5000);};</script>
{% endif %}
<!--=============================================     FOOTER  ================================================================-->
          <footer class="page-footer transparent">
                  <div class="container center-align">
                        © Netcoins 2018
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                  </div>
              </footer>
            
          

</body>
</html>